.transaction-details {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  width: 500px;
  align-items: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #419935;
  padding: 8px;
}

th {
  background-color: #d2d515;
}

tr:nth-child(even) {
  background-color: #9cad1c;
}

tr:hover {
  background-color: #151313;
}

p {
  margin-top: 20px;
}
